<div class="subcribe-wrap">
<div class="sub-title">
{{ content.field_titlenewsfooter.widget.0.value['#default_value'] }}
</div>
<div class="subscribe">
{{ content.field_heading.widget.0.value['#default_value'] }}
</div>
{{ content.field_email_address }}
</div>

