/*DESKTOP */

@media screen and (min-width: 1024px){
.footerpri {
    background-color: #333333;
    color: #919899;
    width:100%;
}
.footer-wrapper {
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    max-width:1284px;
    height: 675px;
    
}
.field--name-field-image2 {
    text-align: center;
    margin-top: 77px;
}
.field--name-field-image2:hover {
    opacity:0.7; 
}

#block-maicon-views-block-recent-blogs-block-1 {
    width: 406.66px;
    height: 409.69px;
}
div#block-maicon-views-block-recent-blogs-block-1>h2 {
    font-size: 36px;
    font-weight: 550;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 246px;
}
div#block-contactblock-4>h2 {
    font-size: 36px;
    font-weight: 550;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 246px;
}
.form-email{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    border: none;
}
// input#edit-field-email-address-0-value {
//     padding-left: 30px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     font-size: 14px;
//     line-height: 30px;
//     font-weight: 700;
//     border: none;
// }
.subcribe-wrap input#edit-field-email-address-0-value::after{
    content: "\e666";
    font-size: 16px;
    font-weight: 300;
    font-family: 'rt-icons-2';
}
input#edit-submit {
    display: none;
}
.form-actions {
    display: none;
}
.form-item label {
    display: none;
}
.subcribe-wrap input#edit-field-email-address-0-value {
    border-radius: 17px;
    border-radius: 20px;
    width: 358px;
    height: 41px;
    margin-top: 50px;
    margin-left: 44px;
}
#block-maicon-footer2info{
    width: 356.66px;
    height: 490px;
}
#block-maicon-contactblock-2{
    width: 406.66px;
    height: 397px;
}
.field--name-field-title2 {  
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 29px;
}
.footerpri .field--name-body {
    p {
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    }
  
   
}
.field--name-field-address2 {
    color: #ffffff;
    border-color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 0 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
}
.field--name-field-mail2 {
    color: #fab915;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -36px;
}
.field--name-field-mail2:hover {
color: #bf3654;
}
}
/* FOR MOBILE */
@media ( min-width: 320px) and (max-width: 767px) {
    .footerpri {
        background-color: #333333;
        color: #919899;
        width:100%;
        max-width:767px;
        margin:0 auto;
    }  
    .footer-wrapper {
        display:flex;
        flex-flow: row wrap;
    } 
    .field--name-field-title2 {  
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
        margin-top: 15px;
    }
    .footerpri .field--name-body {
        p {
        margin-bottom: 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        }
      
       
    }
    .field--name-field-address2 {
        color: #ffffff;
        border-color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin: 0 0 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
    }
    .field--name-field-mail2 {
        color: #fab915;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 22px;
    }
    .field--name-field-image2 {
        margin: 0 auto;
    }
    .field.field--name-field-image2.field--type-image.field--label-hidden.field__item {
        display: flex;
        justify-content: center;
    }
    #block-maicon-footer2info{
        order: 1;
    }
    div#block-maicon-views-block-recent-blogs-block-1 {
        order: 2;
        margin: 0 auto;
    }
    .recentblogs2 { 
        order: 3;
    }
    div#block-maicon-footer2info {
    margin: 30px 20px;
    }
    .subcribe-wrap input#edit-field-email-address-0-value {
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 700;
        border: none;
        border-radius: 17px;
        border-radius: 20px;
        width: 90%;
        height: 41px;
        margin-top: 50px;
        margin-left: 20px;
    }
    .subcribe-wrap input#edit-field-email-address-0-value::after{
        content: "\e666";
        font-size: 16px;
        font-weight: 300;
        font-family: 'rt-icons-2';
    }
    .form-item label {
        display: none;
    }
}
/* FOR TABLET */

@media ( min-width: 768px) and (max-width: 1024px) {
    .footerpri {
        background-color: #333333;
        color: #919899;
        width:100%;
    }
    .footer-wrapper {
        flex-wrap: wrap;
        display: flex;
        text-align: center;
        margin:0 auto; 
    }
    .field--name-field-image2 {
        text-align: center;
        margin-top: 77px;
    }
    .field--name-field-image2:hover {
        opacity:0.7; 
    }
    
    #block-maicon-views-block-recent-blogs-block-1 {
        width: 47%;
        margin-top: -6%;

    }
    div#block-maicon-views-block-recent-blogs-block-1>h2 {
        font-size: 36px;
        font-weight: 550;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
        margin-top: 246px;
    }
    div#block-contactblock-4>h2 {
        font-size: 36px;
        font-weight: 550;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
        margin-top: 246px;
    }
    .subcribe-wrap input#edit-field-email-address-0-value {
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 700;
        border: none;
    }
    .subcribe-wrap input#edit-field-email-address-0-value::after{
        content: "\e666";
        font-size: 16px;
        font-weight: 300;
        font-family: 'rt-icons-2';
    }
    input#edit-submit {
        display: none;
    }
    .form-actions {
        display: none;
    }
    .form-item label {
        display: none;
    }
    .subcribe-wrap input#edit-field-email-address-0-value {
        border-radius: 17px;
        border-radius: 20px;
        width: 358px;
        height: 41px;
        margin-top: 50px;
        margin-left: 44px;
    }
    #block-maicon-footer2info{
        width: 100%;
        order: -1;
    }
    #block-maicon-contactblock-2{
        width: 50%;
        height: 397px;
    }
    .field--name-field-title2 {  
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
        margin-top: 29px;
    }
    .footerpri .field--name-body {
        p {
        margin-bottom: 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 7px;
        }
      
       
    }
    .field--name-field-address2 {
        color: #ffffff;
        border-color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin: 0 0 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
    }
    .field--name-field-mail2 {
        color: #fab915;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin-bottom: -36px;
    }
    .field--name-field-mail2:hover {
    color: #bf3654;
    }
}