/* FOR DESKTOP */

@media screen and (min-width: 1024px){
    .recentblogs2 {
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        letter-spacing: 0;
        margin-right: -14px;
        margin-left: -14px;
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px;
        text-transform: uppercase;
        line-height: 44px;
    }
    .rbtitle>a {
        color: #919899;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: 35px;
    }
    .rbtitle>a:hover {
        color: #ffffff;
        text-decoration: none;
    }
    .rbdate{
        color: #ffffff;
    }
    .rbdate:hover {
        color: #bf3654;
    }
    // .authorby>a::before {
    //     content: "\e678";
    // }
    .authorby>a {
        color: #ffffff;
    }
    .authorby>a:hover {
        color: #bf3654;
        text-decoration: none;
    }
    .blogtype>a {
        color: #ffffff;
    }
    .blogtype>a:hover {
        color: #bf3654;
        text-decoration: none;
    }
}
/* FOR MOBILE */

@media ( min-width: 320px) and (max-width: 767px) {
    .recentblogs2 {
        display: flex;
        order: 3;
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        letter-spacing: 0;
        margin-right: -14px;
        margin-left: -14px;
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px;
        text-transform: uppercase;
        line-height: 44px;
    }
    .rbtitle>a {
        color: #919899;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: 35px;
    }
    .rbdate{
        color: #ffffff;
    }
    .authorby>a {
        color: #ffffff;
    }
    .blogtype>a {
        color: #ffffff;
    }
    #block-maicon-views-block-recent-blogs-block-1>h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        font-family: 'Raleway',sans-serif;
        line-height: 30px;
        margin-top: 15px;
    }
    .rbtitle > a {
        color: #919899;
        margin-bottom: 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        font-family: 'Raleway',sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}
/* FOR DESKTOP */

@media ( min-width: 768px) and (max-width: 1024px) {
    .recentblogs2 {
        display: flex;
        order: 2;
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        letter-spacing: 0;
        margin-right: -14px;
        margin-left: -14px;
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px;
        text-transform: uppercase;
        line-height: 44px;
    }
    .rbtitle>a {
        color: #919899;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: 35px;
    }
    .rbdate{
        color: #ffffff;
    }
    .authorby>a {
        color: #ffffff;
    }
    .blogtype>a {
        color: #ffffff;
    }
    #block-maicon-views-block-recent-blogs-block-1>h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        font-family: 'Raleway',sans-serif;
        line-height: 30px;
        margin-top: 15px;
    }
    .rbtitle > a {
        color: #919899;
        margin-bottom: 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        font-family: 'Raleway',sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}