.body{
<<<<<<< HEAD
    background-color: white;   }

=======
    background-color: white;
    color: red;
}
>>>>>>> Completed Header Part. Adding the same
.page-wrapper{
    width: 100%;
    background-color: white;
}

.header{
    width:100%;
}

.footerpri{
    width:100%;
}

.footersec{
    width:100%;
}