.body{
    background-color: white;
    color: red;
}
.page-wrapper{
    width: 100%;
    background-color: white;
}

.header{
    width:100%;
}

.footerpri{
    width:100%;
}

.footersec{
    width:100%;
}