/* FOR DESKTOP */

@media screen and (min-width: 1024px){
    .shop-menu {
        text-align: center;  
        opacity: 0.7;
        padding-bottom: 4.2%;
        padding-top: 4.2%;
        margin-top: 10px;
        margin-bottom: 10px;
        background: linear-gradient(-90deg, $link-hover-color, $link-color);
        li{
        margin: 0 21px;
    
            a{
                color: $white;
                letter-spacing: 0.2em;
                font-weight: 700;
                font-size: 14px;
            }
            a:hover{
                text-decoration: none;
                color: $link-hover-color;
            }
        }
        h1{
        font-size: 48px;
        color: $white;
        margin-bottom: 10px;
        }
        ul.menu {
            display: flex;
            justify-content: center;
            color: $white;
        }
        ul.menu a.is-active {
            color: $white;
        }
        ul.menu a.is-active:hover{
            color: $link-hover-color;
        }
    }
}
/* FOR MOBILE */
  
@media ( min-width: 320px) and (max-width: 767px) {
    .shop-menu {
        text-align: center;  
        opacity: 0.7;
        padding-bottom: 65px;
        padding-top: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: linear-gradient(-90deg, $link-hover-color, $link-color);
        li{
        margin: 0 21px;
    
            a{
                color: $white;
                letter-spacing: 0.2em;
                font-weight: 700;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
            }
            a:hover{
                text-decoration: none;
                color: $link-hover-color;
            }
        }
        h1{
        font-size: 30px;
        font-weight: 600;
        color: $white;
        margin-bottom: 10px;
        }
        ul.menu {
            display: flex;
            justify-content: center;
            color: $white;
        }
        ul.menu a.is-active {
            color: $white;
        }
        ul.menu a.is-active:hover{
            color: $link-hover-color;
        }
    }
}
/* FOR TABLET */
@media ( min-width: 768px) and (max-width: 1024px) {
    .shop-menu {
        text-align: center;  
        opacity: 0.7;
        padding-bottom: 65px;
        padding-top: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: linear-gradient(-90deg,$link-hover-color, $link-color);
        li{
        margin: 0 21px;
    
            a{
                color: $white;
                font-weight: 700;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
            }
            a:hover{
                text-decoration: none;
                color: $link-hover-color;
            }
        }
        h1{
        font-size: 30px;
        font-weight: 600;
        color: $white;
        }
        ul.menu {
            display: flex;
            justify-content: center;
            color: $white;
        }
        ul.menu a.is-active {
            color: $white;
        }
        ul.menu a.is-active:hover{
            color: $link-hover-color;
        }
        
    }
}
