@media only screen and (min-width: 1025px) {
  .div1 {
    position: relative;
    color: #bf3654;
    width: 100%;
    background-size: content;
    height: 700px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    box-sizing: border-box; }
  .insidediv1 {
    position: absolute;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    top: 20%;
    right: 10%;
    width: 420px; }
  h1 {
    color: black; }
  .insidediv1 p2 {
    color: #808080;
    font-family: 'Raleway', sans-serif; }
  .div1button {
    background-color: #bf3654;
    width: 200px;
    height: 60px;
    letter-spacing: 0.2em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .insidediv1 a {
    color: white; }
  .div1button:hover {
    cursor: pointer;
    background-color: orange; } }

@media only screen and (max-width: 767px) {
  .div1 {
    position: relative;
    color: #bf3654;
    width: 100%;
    background-size: content;
    height: 450px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom; }
  h1 {
    color: black; }
  .insidediv1 {
    position: absolute;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    top: 5%; }
  .insidediv1 p2 {
    color: #808080;
    font-family: 'Raleway', sans-serif; }
  .div1button {
    background-color: #bf3654;
    width: 140px;
    height: 35px;
    letter-spacing: 0.2em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .insidediv1 a {
    color: white; }
  .div1button:hover {
    cursor: pointer;
    background-color: orange; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .div1 {
    position: relative;
    color: #bf3654;
    width: 100%;
    background-size: content;
    height: 566px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    box-sizing: border-box; }
  .insidediv1 {
    position: absolute;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    top: 8%;
    right: 10%;
    width: 420px; }
  h1 {
    color: black; }
  .insidediv1 p2 {
    color: #808080;
    font-family: 'Raleway', sans-serif; }
  .div1button {
    background-color: #bf3654;
    width: 200px;
    height: 60px;
    letter-spacing: 0.2em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .insidediv1 a {
    color: white; }
  .div1button :hover {
    cursor: pointer;
    background-color: orange; } }
