/* FOR DESKTOP */
@media screen and (min-width: 1024px) {
  .view-recent-blogs .view-content {
    display: inherit;
    justify-content: inherit;
    background-color: inherit;
    padding: 10px; }
    .view-recent-blogs .view-content .views-row .recentblogs {
      margin-top: -3%; }
      .view-recent-blogs .view-content .views-row .recentblogs .recentblogs2 {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        letter-spacing: 0;
        margin-right: -14px;
        margin-left: -14px;
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px;
        text-transform: uppercase;
        line-height: 44px;
        margin-bottom: 11%; }
        .view-recent-blogs .view-content .views-row .recentblogs .recentblogs2 a:hover {
          color: #bf3654; }
      .view-recent-blogs .view-content .views-row .recentblogs a {
        color: #919899;
        font-size: 16px;
        color: #919899;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        margin-left: 35px; }
      .view-recent-blogs .view-content .views-row .recentblogs a:hover {
        color: #ffffff;
        text-decoration: none; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbdate:hover {
        color: #bf3654; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbdate {
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .authorby > a {
        text-transform: uppercase;
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .blogtype > a {
        color: #ffffff; } }

/* FOR MOBILE */
@media (min-width: 320px) and (max-width: 767px) {
  .view-recent-blogs .view-content {
    display: inherit;
    justify-content: inherit;
    background-color: inherit;
    padding: 10px; }
    .view-recent-blogs .view-content .views-row .recentblogs {
      margin-top: -3%; }
      .view-recent-blogs .view-content .views-row .recentblogs .recentblogs2 {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        letter-spacing: 0;
        margin-right: -14px;
        margin-left: -14px;
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px;
        text-transform: uppercase;
        line-height: 44px;
        margin-bottom: 11%; }
        .view-recent-blogs .view-content .views-row .recentblogs .recentblogs2 a:hover {
          color: #bf3654; }
      .view-recent-blogs .view-content .views-row .recentblogs a {
        color: #919899;
        font-size: 16px;
        color: #919899;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        margin-left: 35px; }
      .view-recent-blogs .view-content .views-row .recentblogs a:hover {
        color: #ffffff;
        text-decoration: none; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbdate:hover {
        color: #bf3654; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbdate {
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .authorby > a {
        text-transform: uppercase;
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .blogtype > a {
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbtitle {
        text-align: center; }
  #block-maicon-views-block-recent-blogs-block-1 > h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    line-height: 30px;
    margin-top: 15px; } }

/* FOR TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  .view-recent-blogs .view-content {
    display: inherit;
    justify-content: inherit;
    background-color: inherit;
    padding: 10px; }
    .view-recent-blogs .view-content .views-row .recentblogs {
      margin-top: -3%; }
      .view-recent-blogs .view-content .views-row .recentblogs .recentblogs2 {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        letter-spacing: 0;
        margin-right: -14px;
        margin-left: -14px;
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px;
        text-transform: uppercase;
        line-height: 44px;
        margin-bottom: 11%; }
        .view-recent-blogs .view-content .views-row .recentblogs .recentblogs2 a:hover {
          color: #bf3654; }
      .view-recent-blogs .view-content .views-row .recentblogs a {
        color: #919899;
        font-size: 16px;
        color: #919899;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        margin-left: 35px; }
      .view-recent-blogs .view-content .views-row .recentblogs a:hover {
        color: #ffffff;
        text-decoration: none; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbdate:hover {
        color: #bf3654; }
      .view-recent-blogs .view-content .views-row .recentblogs .rbdate {
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .authorby > a {
        text-transform: uppercase;
        color: #ffffff; }
      .view-recent-blogs .view-content .views-row .recentblogs .blogtype > a {
        color: #ffffff; } }
